/.idea
/.idea/*
/.idea/workspace.xml
/build/*
/build/*.*
/logs/*.txt
/__pycache__
/__pycache__/*
test_date_examples.py
test_socket.py
test_string.py
test_hard.py
test_thread2.py
test_threads.py
test_delivers.py
test_encrypt.py
informingMailDeamon.py
